<div class="mb-3">
  <label for="formGroupExampleInput" class="text-info">Nombre de la Agencia</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input text">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="text-info">Direccion</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Input text">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="text-info">Distrito</label>
  <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Input text">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="text-info">Latitud</label>
  <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Input text">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="text-info">Longitud</label>
  <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Input text">
</div>

<div div class="d-grid gap-2 col-6 mx-auto">
  <button type="button" class="btn btn-info" style="color: white;" (click)="actualizar()">Actualizar</button>
</div>
