  <ol class="list-group list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[0].agencia}}</div>
        <div class="mb-1">{{listAgencias[0].provincia}}</div>
        <small style="color: grey;">{{listAgencias[0].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1-4.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[1].agencia}}</div>
        <div class="mb-1">{{listAgencias[1].provincia}}</div>
        <small style="color: grey;">{{listAgencias[1].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1-5.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[2].agencia}}</div>
        <div class="mb-1">{{listAgencias[2].provincia}}</div>
        <small style="color: grey;">{{listAgencias[2].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[3].agencia}}</div>
        <div class="mb-1">{{listAgencias[3].provincia}}</div>
        <small style="color: grey;">{{listAgencias[3].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1-4.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[4].agencia}}</div>
        <div class="mb-1">{{listAgencias[4].provincia}}</div>
        <small style="color: grey;">{{listAgencias[4].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[5].agencia}}</div>
        <div class="mb-1">{{listAgencias[5].provincia}}</div>
        <small style="color: grey;">{{listAgencias[5].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1-6.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[6].agencia}}</div>
        <div class="mb-1">{{listAgencias[6].provincia}}</div>
        <small style="color: grey;">{{listAgencias[6].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[7].agencia}}</div>
        <div class="mb-1">{{listAgencias[7].provincia}}</div>
        <small style="color: grey;">{{listAgencias[7].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1-7.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[8].agencia}}</div>
        <div class="mb-1">{{listAgencias[8].provincia}}</div>
        <small style="color: grey;">{{listAgencias[8].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[9].agencia}}</div>
        <div class="mb-1">{{listAgencias[9].provincia}}</div>
        <small style="color: grey;">{{listAgencias[9].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" (click)="agenciaDetail()">
      <img class="rounded-circle z-depth-2" src="http://www.njsac.com/image/proyectos/p-bcp-1.jpg"
        alt="" width="100" height="100" >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{listAgencias[10].agencia}}</div>
        <div class="mb-1">{{listAgencias[10].provincia}}</div>
        <small style="color: grey;">{{listAgencias[10].direccion}}</small>
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
  </ol>
